body {
  background-color: aliceblue;
  animation: fadeIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cat {
  width: 210px;
  border: 1px grey solid;
  border-radius: 5px;
  text-align: center;
}

img {
  width: 200px;
  border: 5px rgb(236, 183, 191) solid;
  border-radius: 50%;
}
